# Step 4 Working with Data Sources -  Subqueries

1. Writing More Complex Queries

The SQL operations we've learned so far enable us to answer questions with only one source of uncertainty. Many times, we want to answer questions that have 2 or more levels of unknowns. For example:

Which rows are above the average for the ShareWomen column?
Using the SQL we've learned so far, there's no way to write a query that answers these questions. Aggregate functions, like AVG() can only be used in the SELECT clause. The following query:

SELECT * FROM recent_grads
WHERE ShareWomen > AVG(ShareWomen)
will return an error:

(sqlite3.OperationalError) misuse of aggregate function AVG() [SQL: 'SELECT * FROM recent_grads WHERE ShareWomen > AVG(ShareWomen)']
We need to instead learn how to break up a question we want to answer into a series of queries that can be combined.

Instructions
Try to write a query that answers the following question using the SQL you've learned so far:
Which rows are above the average for the ShareWomen column?

2. Subqueries

To determine which majors are above the average for the ShareWomen column, we need to:

first determine the average value for the ShareWomen column
then select and filter the rows that are greater than the average value
If we had to do this using Python and pandas, we would compute and store the average value in ShareWomen as a variable and then use the variable in a table filter. While variables dominate how we express logic object oriented programming languages like Python and Java, SQL doesn't have support for variables. The designers of SQL, a declarative programming language, want it's users to focus on expressing computations over explicitly defining, setting, and juggling variables.

What would the query look like if we already knew the average value for the ShareWomen column?

SELECT Major, ShareWomen FROM recent_grads
WHERE ShareWomen > 0.5225502029537575
Now, how do we make the computed average value, 0.5225502029537575, dynamic?

Let's introduce the SQL way to solve this problem -- subqueries. A subquery is a query nested within another query. Here's a template for a SQL statement where the subquery resides in the WHERE clause:

SELECT Major, ShareWomen FROM recent_grads
WHERE ShareWomen > (subquery that returns the average value for ShareWomen)
The subquery is run first and returns the average value for the ShareWomen column (which happens to be 0.5225502029537575). Based on the result of the subquery, SQL will replace the subquery with this value dynamically. Note that SQL will ignore the column name (AVG(ShareWomen)) and is smart enough to just use the actual row value. Here's a diagram that makes the flow clearer:

Subquery_One
https://s3.amazonaws.com/dq-content/255/subquery_one.svg

The query that replaces the placeholder subquery needs to be a full query (contain SELECT and FROM clauses, etc), that works even if it's run separately. In addition, the inner query should only return a table with a single row and column because of where it fits in the outer query (... WHERE > ?). If you instead try to return a table with multiple columns, for example, the following error will be returned:

(sqlite3.OperationalError) only a single result allowed for a SELECT that is part of an expression [SQL: 'SELECT Major, ShareWomen FROM recent_grads WHERE ShareWomen > (SELECT Major, AVG(ShareWomen) FROM recent_grads)']
Lastly, a subquery must always be contained within parentheses (), or the following error will be returned:

(sqlite3.OperationalError) near "select": syntax error [SQL: 'select Major, Unemployment_rate from recent_grads where Unemployment_rate <  select AVG(Unemployment_rate) from recent_grads order by Unemployment_rate']

Instructions
Write a query that returns the majors that are below the average for Unemployment_rate. The results should:
only contain the Major and Unemployment_rate columns
be sorted in ascending order by Unemployment_rate

3. Subquery In SELECT

In the last screen, we wrote SQL statements that used a subquery to express dynamic filter criteria in the WHERE clause. Specifically, we were interested in rows that were above or below the average value in a specific column. What if we wanted to understand the proportion of majors are above the average for a given column? We'd need to divide the number of rows that met the filter criteria with the total number of rows in the table.

Let's focus on the query from the last screen:

SELECT Major, ShareWomen FROM recent_grads
WHERE ShareWomen > (SELECT AVG(ShareWomen) FROM recent_grads)

Using the COUNT() aggregate function, we can return the number of rows the results set contains:

SELECT COUNT(*) FROM recent_grads
WHERE ShareWomen > (SELECT AVG(ShareWomen) FROM recent_grads)

COUNT(*)
91

To return the proportion, we need to divide this value with the total number of rows in recent_grads. The challenge, however, is that the we don't know the total number of rows (or want to be reliant on an out of date calculation anyway that we could potentially hard code).

To dynamically calculate the number of total rows in recent_grads and be able to use it in another SQL statement, we can use a subquery in the SELECT clause:

SELECT COUNT(*), (SELECT COUNT(*) FROM recent_grads) FROM recent_grads
WHERE ShareWomen > (SELECT AVG(ShareWomen) FROM recent_grads)

COUNT(*)	(SELECT COUNT(*) FROM recent_grads)
  91	     173
  
We'll leave it to you to extend the SQL statement to compute the actual proportion.

Instructions
Write a SQL statement that computes the proportion (as a float value) of rows that contain above average values for the ShareWomen.
The results should only return the proportion, aliased as proportion_abv_avg, like so (with a different value):
proportion_abv_avg
0.000

4. Returning Multiple Results In Subqueries

So far, the subqueries we've used have computed an aggregate value of some kind and returned that value to the outer query to use for filtering. This is because we only worked with the < and > operators, which, by definition, expect a single value to compare against in a filter. As we learned earlier in this course from the documentation, SQLite contains all of the following operators:

SQLite operators
https://s3.amazonaws.com/dq-content/255/sqlite_operators.png

Using the IN operator, we can specify a list of values that we want to match against in the WHERE clause. All rows that match exactly will be returned. The following query returns the rows where Major_category equals either Business or Engineering:

SELECT Major, Major_category FROM recent_grads
WHERE Major_category IN ('Business', 'Engineering')
LIMIT 7
We've limited the results to just 7 rows so they don't take up too much space, but we encourage you to remove the limit and run the query in our interface:

Major	Major_category
PETROLEUM ENGINEERING	Engineering
MINING AND MINERAL ENGINEERING	Engineering
METALLURGICAL ENGINEERING	Engineering
NAVAL ARCHITECTURE AND MARINE ENGINEERING	Engineering
CHEMICAL ENGINEERING	Engineering
NUCLEAR ENGINEERING	Engineering
ACTUARIAL SCIENCE	Business
Opportunities like this, where we've hard coded values, are usually good candidates for converting to a subquery. Instead of returning the rows where Major_category equals one of 2 specific values, we can write a subquery that returns the Major_category with the 5 highest group level sums for the Total column:

SELECT Major_category FROM recent_grads
GROUP BY Major_category
ORDER BY SUM(Total) DESC
LIMIT 5
The subquery returns the following table:

Major_category
Business
Humanities & Liberal Arts
Education
Engineering
Social Science
We'll leave it to you to finish integrating this subquery into the outer query.

Instructions
Write a query that returns the Major and Major_category columns for the rows where:
Major_category is one of the 5 highest group level sums for the Total column
Here's what the first 3 rows of the final table should look like:
Major	Major_category
PETROLEUM ENGINEERING	Engineering
MINING AND MINERAL ENGINEERING	Engineering
METALLURGICAL ENGINEERING	Engineering

5. Building Complex Subqueries

In the last few screens, we nested subqueries in the WHERE and the SELECT clauses that were evaluated before the outer query was. We can actually nest subqueries within subqueries many times, but this makes our SQL code more complex and harder to debug. In the next course, we'll explore other techniques of composing SQL statements that make nested logic easier.

When you have a SQL statement you want to write that will end up using many subqueries, it can be overwhelming at first to know how to start. In general, you want to start with the inner queries first and work your way outwards. Let's say we're interested in understanding the ratio of the Sample_size column to the Total column. You can read the dataset documentation [https://github.com/fivethirtyeight/data/tree/master/college-majors] if you need a reminder for what these columns represent.

Specifically, let's say we're interested in:

computing this ratio for every major
understanding which majors are above the average for this ratio
understanding how many majors are above the average for this ratio
We'll start by writing a query that computes the ratio for every major and then the average of all of these ratios.

Instructions
Write a query that returns the average ratio (Sample_size/Total)) for all of the majors.
You'll need to cast both columns to the float type.
Use the alias avg_ratio for the average ratio.
Here's the general format for what your query should return:
avg_ratio
0.00

6. Practice Integrating A Subquery With The Outer Query

Now that we have a subquery that calculates the average ratio (of Sample_size to Total), we can return the rows that exceed this average.

Instructions
Write a query that:
selects the Major, Major_category, and the computed ratio columns
filters to just the rows where ratio is greater than avgratio:
recall that this value is the result of the subquery from the last screen: select AVG(cast(Sample_size as float)/cast(Total as float)) avg_ratio from recent_grads
Here's what the first 3 rows should look like:
Major	                        Major_category	ratio
PETROLEUM ENGINEERING	        Engineering	0.015391192817443352
MINING AND MINERAL ENGINEERING	Engineering	0.009259259259259259
NAVAL ARCHITECTURE AND MARINE ENGINEERING	Engineering	0.012718600953895072