# Step 4 Working with Data Sources -  Guided Project Analyzing CIA Facebook Data Using SQLite and Python

1. Overview of the Data

In this project, we'll work with data from the CIA World Factbook [https://www.cia.gov/library/publications/the-world-factbook/], a compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like:

population - The population as of 2015.
population_growth - The annual population growth rate, as a percentage.
area - The total land and water area.
You can download the SQLite database, factbook.db, from this GitHub repo [https://github.com/factbook/factbook.sql/releases] if you want to work with it on your own computer. In this guided project, we'll explore the Python SQLite workflow to explore, analyze, and visualize data from this database. First things first, let's get familiar with the database.

Throughout this course, we always introduced the name of the table and what the table looked like in the jobs.db database we worked with. We can actually query the database to get this information directly:

SELECT * FROM sqlite_master WHERE type='table';
In the last mission, we learned how to connect to a SQLite database and query it using the sqlite3 module. When working in the Jupyter notebook environment, we can actually use pandas to run SQL queries and display the results neatly as a DataFrame object. We create a sqlite3.Connection instance as usual and then use pandas.read_sql_query(sql, con) to handle running the query and returning the results in a table:

import sqlite3
import pandas as pd
conn = sqlite3.connect("factbook.db")
â€‹
q = "SELECT * FROM sqlite_master WHERE type='table';"
pd.read_sql_query(q, conn)
This will return the following data frame:

type name tbl_name rootpage sql						
0 table facts facts 2 CREATE	TABLE	facts	("id"	INTEGER	PRIMARY	KEY...
1 table sqlite_sequence sqlite_sequence 3 CREATE	TABLE	sqlite_sequence(name,seq)				
If we had used the default sqlite3 querying method, we would have gotten back nested tuples:

[('table',
  'facts',
  'facts',
  2,
  'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "area_land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float, "created_at" datetime, "updated_at" datetime)'),
 ('table',
  'sqlite_sequence',
  'sqlite_sequence',
  3,
  'CREATE TABLE sqlite_sequence(name,seq)')]
You may be wondering why we're using SQLite at all if we're just reading in the results into pandas dataframes anyway. Why not just use pandas? First, most data analysts and data scientists in industry use a SQL GUI based tool which:

let you write queries and save them for later
let you run queries against multiple enterprise database systems (MySQL, Postgres, etc.)
return results as a table
create standard visualizations like line charts, bar plots, and histograms from the results table without any programming
Here are some examples of GUI based SQL tools:

Mode Analytics [https://about.modeanalytics.com/product/]
Periscope Data [https://www.periscopedata.com/product]
MySQL Workbench [https://www.mysql.com/products/workbench/]
Jack DB [https://www.jackdb.com/]
We're using pandas and matplotlib to display results nearly and visualize them because they let us focus on practicing thinking and working in SQL. You'll spend most of your time in SQL in this guided project and will inteface with pandas and matplotlib minimally.

You can find the solutions notebook for this guided project here. [https://github.com/dataquestio/solutions/blob/master/Mission257Solutions.ipynb]

Instructions
Import pandas and sqlite3.
Connect to factbook.db and use pandas.read_sql_query() to return information on the tables in the database.
Write and run another query that returns the first 5 rows of the only table in the database.

2. Introduction to the Data

We now know that factbook.db contains a single table, the facts table, and that the first few rows look like:

id	code	name	area	area_land	area_water	population	population_growth	birth_rate	death_rate	migration_rate	created_at	updated_at	
0	1	af	Afghanistan	652230	652230	0	32564342	2.32	38.57	13.89	1.51	2015-11-01 13:19:49.461734	2015-11-01 13:19:49.461734
1	2	al	Albania	28748	27398	1350	3029278	0.30	12.92	6.58	3.30	2015-11-01 13:19:54.431082	2015-11-01 13:19:54.431082
2	3	ag	Algeria	2381741	2381741	0	39542166	1.84	23.67	4.31	0.92	2015-11-01 13:19:59.961286	2015-11-01 13:19:59.961286
3	4	an	Andorra	468	468	0	85580	0.12	8.13	6.96	0.00	2015-11-01 13:20:03.659945	2015-11-01 13:20:03.659945
4	5	ao	Angola	1246700	1246700	0	19625353	2.78	38.78	11.49	0.46	2015-11-01 13:20:08.625072	2015-11-01 13:20:08.625072
Here are the descriptions for some of the columns:

name - The name of the country.
area - The total land and sea area of the country.
population - The country's population.
population_growth- The country's population growth as a percentage.
birth_rate - The country's birth rate, or the number of births a year per 1,000 people.
death_rate - The country's death rate, or the number of death a year per 1,000 people.
area- The country's total area (both land and water).
area_land - The country's land area in square kilometers.
area_water - The country's waterarea in square kilometers.
Let's start by calculating some summary statistics and look for any outlier countries.

Instructions
Write a single query that returns the:
minimum population
maximum population
minimum population growth
maximum population growth

3. Exploring Outliers

A few things stick out from the summary statistics in the last screen:

there's a country with a population of 0
there's a country with a population of 7256490011 (or more than 7.2 billion people)
Let's zoom in on just these countries.

Instructions
Write a query that returns the countrie(s) with a population of 0.
Write a query that returns the countrie(s) with a population of 7256490011.
In a markdown cell, type up your observations on these rows.

4. Histograms

It seems like the table contains a row for the whole world, which explains the population of over 7.2 billion. It also seems like the table contains a row for Antarctica, which explains the population of 0. This seems to match the CIA Factbook page for Antarctica:

Antarctica

Let's move on to generating histograms for the rest of the countries in the table, ignoring these 2 rows. You'll want to write a query that returns all of the values in the columns you want to visualize:

population	population_growth	birth_rate	death_rate	
0	32564342	2.32	38.57	13.89
1	3029278	0.30	12.92	6.58
2	39542166	1.84	23.67	4.31
3	85580	0.12	8.13	6.96
Once the results table is represented as a dataframe, you can use the pd.DataFrame.hist() method [https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.hist.html] to generate histograms for all of the columns.

Instructions
Using just the non-outlier rows, generate a 2 by 2 grid of histograms for the following columns:
population
population_growth
birth_rate
death_rate

5. Next Steps

That's it for the guided steps. Here are some next steps for you to explore:

Which countries have the highest population density?
Population density is the ratio of population to land area. Compare your results with those from Wikipedia.
Generate a histogram of population densities.
Which countries have the highest ratios of water to land? Which countries have more water than land?